#teamNames{
	-fx-text-fill: white;
    -fx-background-color: grey;
    -fx-font-family: Courier New;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
#clockText{
	-fx-text-fill: black;
    -fx-background-color: #E8E8E8 ;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-font-size: 85
}
#draftOrderGrid{
	-fx-background-color:#C0C0C0;
}
#currentTeamText{
	-fx-background-color:#E0E0E0;
	-fx-font-family: Consolas;
    -fx-font-size: 40;
}
#clockPane{
	-fx-background-color:#C8C8C8;
}
#topText{
	-fx-text-fill: #484848 ;
    -fx-background-color: #E8E8E8 ;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-font-size: 35
}
#tableTitle{
	-fx-text-fill: white;
    -fx-background-color: grey;
    -fx-font-family: Courier New;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}
#programTable{
	-fx-text-fill: black;
    -fx-background-color: white;
    -fx-font-family: GungsuhChe;
    -fx-font-weight: bold;
    -fx-font-size: 45;
}
#posTable .table-cell{
	
	-fx-alignment: CENTER;
}
#top10Table .table-cell{
	-fx-alignment: CENTER;
}
