#teamNames{
	-fx-text-fill: white;
    -fx-background-color: grey;
    -fx-font: 20px  "Razer Regular";


    -fx-alignment: center;
}
#clockText{
	-fx-text-fill: black;
    -fx-background-color: #E8E8E8 ;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-font-size: 85
}
#draftOrderGrid{
	-fx-background-color:#C0C0C0;
}
#currentTeamText{
	-fx-background-color:#E0E0E0;
    -fx-font: 35px  "Razer Regular";
    -fx-alignment: center;
}
#passwordText{
    -fx-background-color:#E0E0E0;
    -fx-font: 35px  "Razer Regular";
    -fx-alignment: center;
}
#clockPane{
	-fx-background-color:#C8C8C8;
}
#topText{
	-fx-text-fill: #484848 ;
    -fx-background-color: #E8E8E8 ;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-font-size: 35
}
#tableTitle{
	-fx-text-fill: white;
    -fx-background-color: grey;
    -fx-font-family: Courier New;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}
#programTable{
	-fx-text-fill: black;
    -fx-background-color: white;
    -fx-font-family: GungsuhChe;
    -fx-font-weight: bold;
    -fx-font-size: 45;
}
#researchNames{
    -fx-text-fill: dimgrey;
    -fx-background-color: white ;
    -fx-font: 35px  "Razer Regular";


    -fx-alignment: center;


}
#posTable .table-cell{
	
	-fx-alignment: center;
}
#top10Table .table-cell{
	-fx-alignment: center;
}
#teamTable .table-cell{
    -fx-alignment:center;
}
#teamTables .table-cell{
    -fx-alignment:center;
}
#teamTables .table-cell{
    -fx-alignment:center;
}
#connectionTable .table-cell{
    -fx-alignment:center;
    -fx-text-fill: dimgrey;

    -fx-font: 15px  "Consolas";

}
